body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1150px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1551 {
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:640px;
  overflow:hidden;
}
#u1551_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:640px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1551_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1552 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1553 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u1554 {
  position:absolute;
  left:400px;
  top:0px;
  width:200px;
  height:640px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u1555 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u1556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1556 {
  position:absolute;
  left:6px;
  top:65px;
  width:114px;
  height:93px;
}
#u1557 {
  position:absolute;
  left:2px;
  top:38px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1558 {
  position:absolute;
  left:6px;
  top:26px;
  width:29px;
  height:29px;
}
#u1559 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1551_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:640px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1551_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1560 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1561 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u1562 {
  position:absolute;
  left:400px;
  top:0px;
  width:200px;
  height:640px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u1563 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u1564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:67px;
}
#u1564 {
  position:absolute;
  left:147px;
  top:558px;
  width:67px;
  height:67px;
}
#u1565 {
  position:absolute;
  left:2px;
  top:26px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1551_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:640px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1551_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1566 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1567 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u1568 {
  position:absolute;
  left:400px;
  top:0px;
  width:200px;
  height:640px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
  text-align:left;
}
#u1569 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  word-wrap:break-word;
}
#u1570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1570 {
  position:absolute;
  left:6px;
  top:65px;
  width:114px;
  height:93px;
}
#u1571 {
  position:absolute;
  left:2px;
  top:38px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1572_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1572 {
  position:absolute;
  left:6px;
  top:26px;
  width:29px;
  height:29px;
}
#u1573 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1574_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1574 {
  position:absolute;
  left:0px;
  top:606px;
  width:89px;
  height:34px;
}
#u1575 {
  position:absolute;
  left:2px;
  top:9px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1576 {
  position:absolute;
  left:143px;
  top:606px;
  width:217px;
  height:34px;
}
#u1577 {
  position:absolute;
  left:2px;
  top:9px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
